body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

*, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.header, .header-space {
  height: 58px;
}
.footer-space {
  height: 200px;
}
.header {
  position: fixed;
  top: 0;
}
.footer {
  position: fixed;
  bottom: 58px;
  left: 58px;
}

.content {
  margin: 58px 58px;
  margin-top: 0;
}

.candidate-profile {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.company-logo {
  height: 60px;
  margin-right: 20px;
}

.company-logo-container {
  display: flex;
}

.company-title {
  font-size: 18px;
  margin-bottom: 6px;
}

.company-address {
  line-height: 20px;
}

.candidate-profile__image {
  width: 80px;
}

.candidate-name {
  margin-bottom: 20px;
  font-size: 18pt;
  text-align: center;
}

.item {
  margin: 8px 0;
}

.information-container {
  margin: 20px 0;
}

.information-title-container {
  background-color: rgb(189, 189, 189);
  border: 1px solid #000;
  padding: 4px;
  width: fit-content;
}

.information-item {
  margin: 1.2rem 0;
  line-height: 1.2rem;
}

.information-item-container {
  margin: 10px 0;
}

.information-list {
  margin: 4px 0;
}

.information-list .information-list-item {
  margin: 10px 0;
  list-style-position: inside
}

.text-center {
  text-align: center;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}
.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}